caption{
    font-family: 'Verdana', cursive;
    font-size: 20px;
    margin: auto;
    text-align: center;
}

table{
    width: 40%;
}

thead{
    background: #0B6FA4;
    border-bottom: 10px solid #FFFFFF;
}

table td, table th{
    border: 4px solid #FFFFFF;
    padding: 5px 5px;
}

thead th{
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 5px solid #FFFFFF;
}

th.first-child{
     border-left: none;
}

tr:nth-child(even){
     background: #D0E4F5;
}

tbody td{
     font-size: 15px;
}

#name{
    text-transform: capitalize;
}

#acronym{
    text-transform: uppercase;
}

#student_name{
    text-transform: capitalize;
}

#caption{
    text-align: center;
}

.special{
    text-align: left;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}