<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students Data</title>
    {% load static %}
    <link rel="stylesheet" type=text/css href="{% static 'OnlineApp/style.css' %}" />
</head>
<body>
    <table cellpadding="5px">
        <caption><b>Students Data</b></caption>
        <tr>
            <th>Student Name</th>
            <th>Email Id</th>
            <th>Acronym</th>
        </tr>
        {% for student in students_data %}
        <tr>
            <td> {{ student.name }} </td>
            <td> {{ student.email }} </td>
            <td> {{ student.college__acronym }} </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>